@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'M PLUS Code Latin', monospace;
    background-color: #1e1d2b;
    color: white;
    letter-spacing: 1px;
}

header{
    height: 10vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
    box-shadow: 0px 1px 10px #09090e;
    position: fixed;
    top: 0;
    padding: 0px 30px;
    background-color: #1e1d2b;
}

header p {
    font-size: 30px;
    color: #ff702a;
}

header nav a{
    text-decoration: none;
    font-weight: 600;
    margin: 0 10px;
    color: white;
    padding: 5px 8px;
    box-sizing: border-box;
}

header nav a:active{
    outline: 1px solid #12b886;
}

main{
    /* border: 1px solid red; */
    margin: 10vh 150px;
}

.fullWebsite{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fullWebsite h1{
    font-size: 70px;
    font-weight: normal;
    color: #ff702a;
}

.fullWebsite p{
    font-size: 20px;
    margin: 10px 0;
}

button{
    background-color: #ff702a;
    color: white;
    border: none;
    padding: 5px 15px;
    margin: 10px 0;
}

.fullWebsite img{
    width: 35vw;
}

/* About Us */

.aboutUs{
    /* border: 1px solid yellowgreen; */
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutUs .textoAbout{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 60px;
}

h2{
    font-size: 37px;
}

h4{
    color: #ff702a;
}

/* Foot Menu */
.footMenu{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.titulos{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footMenu .menus{
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-evenly;
}

.footMenu .menus .cardMenu{
    display: flex;
    flex-direction: column;
    align-items: center ;
    border-radius: 2px;
    padding: 20px 5px;
    background-color: #ffefe8;
}

.footMenu .menus .imgMenu{
    width: 280px;
    object-fit: contain;
}

.footMenu .menus .cardMenu h4{
    color: black;
    margin-bottom: 10px;
}

.footMenu .menus .cardMenu .categoria{
    color: rgb(68, 67, 67);
    font-weight: 600;
}

.footMenu .menus .cardMenu .precio{
    color: #ff702a;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 600;
}

/* Services */

.services{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.services .allServices{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.services .allServices .imgService{
    width: 240px;
    object-fit: contain;
}

.services .allServices .cardServer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    padding: 20px 5px;
}

.services .allServices .cardServer h3{
    color: #ff702a;
    font-size: 20px;
    margin-bottom: 15px;
}

.services .allServices .cardServer p{
    text-align: center;
    margin-bottom: 15px;
}



